.navbar {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: flex-start;
    background-color: #FE4830;
    width: 100vw;
}

.list {
    display: flex;
    list-style: none;
}

.list li {
    margin-left: 20px;
}

.list a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}